# Codeigniter Stuff
RewriteEngine on

RewriteCond $1 !^(favicon\.ico|index\.php|assets|blog|user_guide|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]

############################################

# Blog Stuff

	RewriteBase /blog

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Rewrite all other URLs to index.php/URL
	RewriteRule ^(.*)$ index.php/$1 [L]
