p {
	padding: 0 10px;
}

/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
*/

html,
body {
	font-size: 12px;
}

#main-outer-wrapper {
	min-width: 320px;
}

.wrapper {
	width: 320px;
}

nav {
	/*float: none;
	*zoom: 1;*/
	line-height: 16px;
}
/*nav:before,
nav:after {
	content: " ";
	display: table;
}
nav:after {
	clear: both;
}*/
nav a {
	font-size: 9px;
}

#account {
	display: none;
}

header {
	margin: 0 0 10px 0;
	width: auto;
}
header #logo-above {
	margin-top: 0;
	font-size: 11px;
}
header #logo img {
	width: 300px;
}
header #logo-below {
	font-size: 13px;
}

footer {
	min-width: 320px;
}
footer #footer-top {
	margin: 0 10px;
}
footer #footer-top > a > img {
	width: 32px;
	height: 32px;
}
footer #footer-top a,
footer #footer-top #check-us-out {
	margin: 0;
}

footer #footer-top #check-us-out {
	font-size: 11px;
}
footer #footer-bottom #copyright,
footer #footer-bottom #links {
	float: none;
	text-align: center;
}
footer #footer-bottom #links a {
	margin: 0 5px;
}

/*
|--------------------------------------------------------------------------
| Helpers
|--------------------------------------------------------------------------
*/

.hide-mobile {
	display: none;
}

/*
|--------------------------------------------------------------------------
| Homepage
|--------------------------------------------------------------------------
*/

#site-index .services {
	width: 300px;
	margin: 0 auto;
	height: auto;
	position: static;
	background: none;
}
#site-index .services .left,
#site-index .services .middle,
#site-index .services .right {
	position: static;
	height: auto;
	width: 280px;
	padding: 10px;
	font-size: 11px;
	background: url(/assets/img/layout/services-bg-mobile.jpg) center bottom no-repeat #fcf9f4;
	margin-bottom: 10px;
}
#site-index .services .left h3,
#site-index .services .middle h3,
#site-index .services .right h3 {
	font-size: 20px;
}

#site-index h2.gear,
#site-index h2.latest,
#site-index h2.love,
#site-index h2.quote {
	margin: 30px auto 10px auto;
	width: 300px;
	height: 46px;
	background: url(/assets/img/layout/icons-mobile.png) center top no-repeat;
	text-indent: -9999px;
}

#site-index h2.gear {
	background-position-y: 0px;
}
#site-index h2.latest {
	background-position-y: -46px;
}
#site-index h2.love {
	background-position-y: -92px;
}
#site-index h2.quote {
	background-position-y: -138px;
}

#site-index #latest .work {
	margin: 5px;
}

#site-index #latest .work img {
	width: 130px;
	height: 108px;
}
#site-index #latest .work .caption {
	opacity: 1;
	bottom: 0;
	line-height: 22px;
	font-size: 11px;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
}

#site-index #latest .work:hover .caption {
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
}

#work-details {
	padding: 0;
	width: 280px;
}
#work-details .float-left {
	float: none;
	width: auto;
}
#work-details .float-left img {
	width: 130px;
	height: 108px;
}
#work-details .float-left a {
	
}
#work-details .float-right {
	float: none;
	margin-left: 0;
	width: auto;
}
#work-details .float-right h3 {
	text-align: center;
}

#site-index #quote-form {
	width: auto;
}
#site-index #quote-form .float-left {
	float: none;
}
#site-index #quote-form .float-right {
	float: none;
}