@mixin border-radius($radius...)
{
	-webkit-border-radius: $radius; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-moz-border-radius: $radius; /* Firefox 1-3.6 */
	border-radius: $radius; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	/* Prevent background color leak outs */
	-webkit-background-clip: padding-box; 
	-moz-background-clip: padding; 
	background-clip: padding-box;
}

@mixin button-gradient($top-color,$bottom-color)
{
	background: $top-color;
	background: -moz-linear-gradient(top, $top-color 50%, $bottom-color 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$top-color), color-stop(50%,$bottom-color));
	background: -webkit-linear-gradient(top, $top-color 50%,$bottom-color 50%);
	background: -o-linear-gradient(top, $top-color 50%,$bottom-color 50%);
	background: -ms-linear-gradient(top, $top-color 50%,$bottom-color 50%);
	background: linear-gradient(to bottom, $top-color 50%,$bottom-color 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top-color', endColorstr='$bottom-color',GradientType=0 );
}