/*
|--------------------------------------------------------------------------
| Modules
|--------------------------------------------------------------------------
*/

.errors {
	text-align: left;
	font-size: 13px;
	background-color: #ffdddd;
	border: 1px solid #d90000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.errors ul {
	margin: 10px 0 0 0;
	padding: 0 0 0 30px;
	list-style: square;
	font-weight: bold;
}

.info {
	text-align: left;
	font-size: 13px;
	background-color: #cbcff6;
	border: 1px solid #0014d9;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.info ul {
	margin: 0;
	padding: 0 0 0 30px;
	list-style: square;
	font-weight: bold;
}

.button {
	background: lighten($darkgray,15%);
	color: $cream_light;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 9px;
	font-family: "Delius Unicase", cursive;
	font-weight: bold;
	cursor: pointer;
	@include border-radius(5px);

	&:hover {
		color: $cream_light;
		@include button-gradient(lighten($darkgray,15%),$darkgray);
	}

	&.primary {
		background: $colorbar_color2;

		&:hover {
			@include button-gradient($colorbar_color2,darken($colorbar_color2,10%));
		}
	}
}

.field {
	width: 300px;
	position: relative;
	padding-bottom: 10px;

	& > label {
		display: block;
		font-size: 11px;
		text-transform: uppercase;
		font-family: "Delius Unicase",cursive;
		font-weight: bold;
		margin-bottom: 5px;

		&.error {
			position: absolute;
			bottom: -10px;
			right: 5px;
			font-size: 9px;
			color: #d90000;
		}
	}

	& > input[type="text"],
	& > input[type="password"],
	& > textarea {
		width: 97%;

		&.error {
			background-color: #ffdddd;
			border: 1px solid #d90000;
		}
	}

	&.w1,
	&.w2,
	&.w3 {
		display: inline-block;
	}

	&.w1 {
		width: 100%;
	}

	&.w2 {
		width: 49%;
	}
}

.buttons {
	text-align: center;
	padding: 10px 20px;
	background-color: darken($cream_dark,3%);
	border-top: 5px solid $darkgray;
}