/*
|--------------------------------------------------------------------------
| Color Bar
|--------------------------------------------------------------------------
|
| The colors of the nav buttons, from lightest (1) to darkest (5)
|
|--------------------------------------------------------------------------
*/
$colorbar_color1: #d9deb0;
$colorbar_color1_dark: #c3d08f;
$colorbar_color2: #abc4a4;
$colorbar_color2_dark: #86ac84;
$colorbar_color3: #528a7f;
$colorbar_color3_dark: #2c6e5e;
$colorbar_color4: #425555;
$colorbar_color4_dark: #223332;
$colorbar_color5: #333132;
$colorbar_color5_dark: #131212;

/*
|--------------------------------------------------------------------------
| Other Colors
|--------------------------------------------------------------------------
*/
$darkgray: #3a3637; // Main text color, background color for footer
$cream_light: #faf8f3; // Main text color for text on $darkgray, nav button text
$cream_dark: #f9f5ed; // Background color of the site